/*----------------------------------------
news-detail
----------------------------------------*/
#header .header {
    background-color: #32414D;
}
.news-detail {
    padding-top: 180px;
}
.news-detail .title {
    text-align: center;
    padding: 100px 0;
}
.news-detail .inner {
    padding: 80px 20px;
    color: #ffffff;
    background-color: #009BC6;
}
.news-detail .inner .section-text {
    margin-bottom: 0;
}
.news-detail .inner .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.news-detail .inner .info .tag {
    color: #32414D;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 20px;
}


/*----------------------------------------
detail
----------------------------------------*/
.detail {
    margin: 100px 0;
}
.detail .img {
    margin-bottom: 80px;
}
.detail .text-area {
    margin-bottom: 80px;
}

.detail .text-area .inner {
    margin-bottom: 50px;
}
.detail .text-area .inner .title {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}
.detail .text-area .inner .text {
    line-height: 1.6;
    letter-spacing: 0;
}   
.detail .text-area .news-detail-btn {
    text-align: center;
}
.detail .link {
    text-align: center;
}
.detail .link a {
    font-size: 26px;
    color: #32414D;
}
.detail .link a:hover {
    color: #009BC6;
}


/*----------------------------------------
sp
----------------------------------------*/
@media screen and (max-width:800px) {
  /*----------------------------------------
    news-detail
    ----------------------------------------*/
    .news {
        padding-top: 140px;
    }
    .news .title {
        padding: 80px 0;
    }

    /*----------------------------------------
    detail
    ----------------------------------------*/
    .detail {
        margin: 80px 0;
    }
    .detail .img {
        margin-bottom: 80px;
    }
    .detail .text-area {
        margin-bottom: 80px;
    }

    .detail .text-area .inner {
        margin-bottom: 50px;
    }
    .detail .text-area .inner .title {
        font-size: 36px;
    }
}