/*----------------------------------------
recruit
----------------------------------------*/
#header .header {
    background-color: #32414D;
}
.recruit {
    text-align: center;
    padding-top: 180px;
}
.recruit .title {
    padding: 100px 0;
}
.recruit .inner {
    padding: 80px 20px;
    color: #ffffff;
    background-color: #009BC6;
}

/*----------------------------------------
mission
----------------------------------------*/
.mission {
    padding: 50px 0;
    text-align: center;
}
.mission  .text {
    line-height: 1.6;
}

/*----------------------------------------
position
----------------------------------------*/
.positions {
    margin-bottom: 50px;
    text-align: center;
}
.positions .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.positions .inner .item {
    width: 23%;
    height: 300px;
    padding: 30px 10px;
    background-color: #009BC6;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.positions .inner .item .title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

/*----------------------------------------
style
----------------------------------------*/
.style {
    margin-bottom: 50px;
    text-align: center;
}
.style .text {
    line-height: 1.6;
}

/*----------------------------------------
entry
----------------------------------------*/
.entry {
    margin-bottom: 100px;
    text-align: center;
}
.entry .text {
    line-height: 1.6;
    margin-bottom: 50px;
}

@media screen and (max-width:800px) {
  /*----------------------------------------
    recruit
    ----------------------------------------*/
    .recruit {
        padding-top: 140px;
    }
    .recruit .title {
        padding: 80px 0;
    }

    /*----------------------------------------
    position
    ----------------------------------------*/
    .positions .inner {
        flex-direction: column;
    }
    .positions .inner .item {
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
    }
    .positions .inner .item br {
        display: none;
    }

    /*----------------------------------------
    entry
    ----------------------------------------*/
    .entry {
        margin-bottom: 80px;
    }
}