/*----------------------------------------
service
----------------------------------------*/
#header .header {
    background-color: #32414D;
}
.service {
    padding: 180px 0 100px;
    background-color: #32414D;
    color: #FFFFFF;
    text-align: center;
}
.service .section-title {
    margin-top: 120px;
    margin-bottom: 80px;
}
.service .mainvisual {
    margin-bottom: 50px;
}
.service .mainvisual img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.service .section-text {
    color: #009BC6;
}
.service .text {
    letter-spacing: 0.05em;
}

/*----------------------------------------
intorduction
----------------------------------------*/
.introduction {
    background-color: #dddddd;
    padding: 120px 0;
    text-align: center;
    position: relative;
}
.introduction .description {
    letter-spacing: 0;
    line-height: 1.6;
    margin-bottom: 50px;
}
.introduction .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.introduction .inner .item {
    padding: 50px 20px 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.introduction .inner .item .title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #009BC6;
    margin-bottom: 20px;
}
.introduction .inner .item .text {
    line-height: 1.6;
    letter-spacing: 0;
}
.introduction .achievement {
    width: 300px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #009BC6;
    letter-spacing: 0.05em;
    border-radius: 10px;
    position: absolute;
    top: 54%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/*----------------------------------------
steps
----------------------------------------*/
.steps {
    padding: 120px 0 0;
}
.steps .text-area {
    text-align: center;
    margin-bottom: 120px;
    letter-spacing: 0.05em;
}
.steps .text-area .description {
    line-height: 1.6;
    letter-spacing: 0;
}
.steps .inner .item {
    width: 70%;
    padding: 80px 40px;
    color: #FFFFFF;
    background-color: #009BC6;
    font-size: 30px;
    text-align: center;
    margin-bottom: 200px;
}
.steps .inner .item:last-child {
    margin-bottom: 120px;
}
.steps .inner .item .upper-row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.steps .inner .item .upper-row .num {
    margin-right: 20px;
}
.steps .inner .item-right {
    margin-left: auto;
    border-radius: 20px 0 0 20px;
    opacity: 0;
    will-change: transform, opacity;
}
.steps .inner .item-left {
    border-radius: 0 20px 20px 0;
    opacity: 0;
    will-change: transform, opacity;
}
.steps .inner .item-right.in,
.steps .inner .item-left.in {
    transform: translateX(0);
    opacity: 1;
    transition: transform .6s ease-out, opacity .6s ease-out;
}

/*----------------------------------------
ask
----------------------------------------*/
.ask {
    padding: 120px 0;
    background-color: #dddddd;
    text-align: center;
}

/*----------------------------------------
sp
----------------------------------------*/
@media screen and (max-width:800px) {
    /*----------------------------------------
    service
    ----------------------------------------*/
    .service {
        padding: 140px 0 80px;
    }
    .service  .section-title {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    /*----------------------------------------
    intorduction
    ----------------------------------------*/
    .introduction {
        padding: 80px 0 40px;
        position: static;
    }
    .introduction .inner {
        display: block;
        gap: 0;
    }
    .introduction .inner .item {
        padding: 50px 20px;
        margin-bottom: 40px;
    }
    .introduction .achievement {
        width: 100%;
        position: static;
    }

    /*----------------------------------------
    steps
    ----------------------------------------*/
    .steps {
        padding: 80px 0 0;
    }
    .steps .text-area {
        margin-bottom: 80px;
    }

    .steps .inner .item {
        width: 70%;
        padding: 40px 40px;
        font-size: 20px;
        margin-bottom: 120px;
    }
    .steps .inner .item:last-child {
        margin-bottom: 80px;
    }

    /*----------------------------------------
    ask
    ----------------------------------------*/
    .ask {
        padding: 80px 0;
    }
}
